///*------------------------------------*\
//    #TYPE
//\*------------------------------------*/



/**
 * For styling text with no concern of rhythm
 */

[class~="text-size*.5"] {
    font-size: .5rem;
}
[class~="text-size*1.5"] {
    font-size: 1.5rem;
}
[class~="text-size*2"] {
    font-size: 2rem;
}
[class~="text-size*2.5"] {
    font-size: 2.5rem;
}
[class~="text-size*3"] {
    font-size: 3rem;
}