///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

$color-main:        #15b1ff;
$color-main-dark:   #0077b2;
$color-main-light:  #2fbaff;
$color-compliment:  #ff9c22;


