/*------------------------------------*\
    #SMASHAPP
\*------------------------------------*/

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 *
 *
 * Taken from http://cssguidelin.es/
 *
 */





/**
 * #SETTINGS - Global variables, site-wide settings, config switches, etc.
 */
@import "bower_components/inuit-defaults/settings.defaults";
@import "settings.colors";
@import "settings.global";




/**
 * #TOOLS - Site-wide mixins and functions.
 */
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@mixin background-image-cover {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}



/**
 * #GENERIC - Low-specificity, far-reaching rulesets (e.g. resets).
 */
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-reset/generic.reset";
@import "bower_components/inuit-box-sizing/generic.box-sizing";





/**
 * #BASE - Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
 */
@import "bower_components/inuit-page/base.page";
@import "bower_components/inuit-images/base.images";
@import "bower_components/inuit-headings/base.headings";
@import "base.type";





/**
 * #OBJECTS - Objects, abstractions, and design patterns (e.g. .media {}).
 */
$inuit-enable-box--flush:   true;
$inuit-enable-box--tiny:    true;
@import "bower_components/inuit-box/objects.box";

/**
 * Quick, inline extensions of the inuitcss box object.
 */
.box--sized--small {
    width:  50px;
    height: 50px;
}
.box--sized {
    width:  100px;
    height: 100px;
}
.box--sized--large {
    width:  125px;
    height: 125px;
}
.box--sized--huge {
    width:  150px;
    height: 150px;
}

/**
 * Remember:
 * http://css-tricks.com/fighting-the-space-between-inline-block-elements/
 */
$inuit-enable-layout--rev:      true;
$inuit-enable-layout--flush:    true;
$inuit-enable-layout--middle:   true;
$inuit-enable-layout--bottom:   true;
$inuit-enable-layout--right:    true;
$inuit-enable-layout--center:   true;
$inuit-enable-layout--auto:     true;
@import "bower_components/inuit-layout/objects.layout";

.app-container {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
}


/**
 * #COMPONENTS - Discrete, complete chunks of UI (e.g. .carousel {}).
 */
$flip-on-hover: false;
@import "components.flipper";
@import "components.list-items";





/**
 * #TRUMPS - High-specificity, very explicit selectors. Overrides and helper classes.
 */
@import "bower_components/inuit-clearfix/trumps.clearfix";
@import "bower_components/inuit-widths/trumps.widths";
@import "trumps.centering";





.align-center {
    text-align: center;
}
.rounded {
    border-radius: 50%;
}




