/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 *
 *
 * Taken from http://cssguidelin.es/
 *
 */

/*------------------------------------*\
    #COMPASS
\*------------------------------------*/
@import "compass";

/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
@import "utilities/settings";
@import "utilities/utilities";

/*------------------------------------*\
    #BASE
\*------------------------------------*/
@import "base/normalize";
@import "base/base";

/*------------------------------------*\
    #FONTS
\*------------------------------------*/
// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
@import "layout/bootstrap-grid";

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

/*------------------------------------*\
    #THEME
\*------------------------------------*/


hr {
    display: block;
    height: 1px;
    margin: $general-margin 0;

    border: none;

    background-color: $color-2;
}
.rounded {
    border-radius: 50%;
}

.bg-color {
    background-color: $color-1;
}