<section class="layout--middle">

    <div class="layout__item 1/2">
        <img class="rounded box--sized--huge c-h"
             ng-src="{{ viewModel.user.pictureUrl }}" />
    </div><!--
        Remove space between layout__item
    --><div class="layout__item 1/2 layout">

        <div class="layout__item 1/2 align-center">

            <span class="text-size*2.5">
                {{ viewModel.record[ selectedRecord ][ 0 ] }}
            </span> 
            <span class="text-size*1.5">
                wins
            </span>
        </div><!--
            Remove space between layout__item
        --><div class="layout__item 1/2 align-center">

            <span class="text-size*2.5">
                {{ viewModel.record[ selectedRecord ][ 1 ] }}
            </span> 
            <span class="text-size*1.5">
                losses
            </span>
        </div>

    </div>

</section> 




<!-- user character reel -->
<section class="layout">
    <div class="layout__item 1/4"
         ng-repeat="char in viewModel.chars">

        <img ng-src="{{ imgPath + char.imgPath }}">
    </div>
</section>




<!-- user matches -->
<section>
    <ol>
        <li class="layout--flush layout--middle"
            ng-repeat="match in viewModel.matches">

            <div class="layout__item 1/3">
                <img class="rounded"
                     ng-src="{{ imgPath + match.char.imgPath }}" />
            </div><!--

            --><div class="layout__item 1/3">
                <img class="rounded"
                     ng-src="{{ imgPath + match.opponentChar.imgPath }}" />
            </div><!--

            --><div class="layout__item 1/3">
                <a ng-href="/#/profile/{{ match.opponent.phoneNumber }}">
                <img class="rounded"
                     ng-src="{{ match.opponent.pictureUrl  }}" />
                </a>
            </div>
        </li>
    </ol>
</section>