<section class="layout--middle layout--flush page-head"><!-- 


    User Profile Image 
 --><div class="layout__item 1/2"
         ng-click="setRecord( viewModel.record )">

        <label>
            <input type="radio" name="record" ng-model="viewModel.selectedRecord" ng-value=" viewModel.record " />

            <img class="rounded box--sized--huge c-h"
                 lazy-load-src="{{ viewModel.user.pictureUrl }}"
                 ng-src="assets/images/placeholder.png" />
        </label>

    </div><!-- This comment is to remove space between layout__item
        



    Win | Loss record
 --><div class="layout__item 1/2 layout">


        <div class="layout__item 1/2 align-center">

            <span class="text-size*2.5">
                {{ viewModel.selectedRecord[ 0 ] }}
            </span> 
            <span class="text-size*1.5">
                wins
            </span>
        </div><!-- This comment is to remove space between layout__item


     --><div class="layout__item 1/2 align-center">

            <span class="text-size*2.5">
                {{ viewModel.selectedRecord[ 1 ] }}
            </span> 
            <span class="text-size*1.5">
                losses
            </span>
        </div>


    </div>


</section> 