<section class="layout--middle layout--flush page-head">

    <div class="layout__item 1/2"
         ng-click="setRecord( viewModel.record )">
        <img class="rounded box--sized--huge c-h"
             lazy-load-src="{{ viewModel.user.pictureUrl }}"
             ng-src="assets/images/placeholder.png" />
    </div><!--
        Remove space between layout__item
    --><div class="layout__item 1/2 layout">

        <div class="layout__item 1/2 align-center">

            <span class="text-size*2.5">
                {{ record[ 0 ] }}
            </span> 
            <span class="text-size*1.5">
                wins
            </span>
        </div><!--
            Remove space between layout__item
        --><div class="layout__item 1/2 align-center">

            <span class="text-size*2.5">
                {{ record[ 1 ] }}
            </span> 
            <span class="text-size*1.5">
                losses
            </span>
        </div>

    </div>

</section> 




<!-- user character reel -->
<section class="reel">
    <div class="1/3"
         ng-repeat="char in viewModel.chars"
         ng-click="setRecord( char.record )">

        <img lazy-load-src="{{ imgPath + char.imgPath }}"
             ng-src="assets/images/placeholder.png">
    </div>
</section>




<!-- user matches -->
<section>
    <ol class="list">
        <li class="layout--flush layout--middle list__item pt- pb-"
            ng-class="{ 'list__item--highlight' : !match.win }"
            ng-repeat="match in viewModel.matches">

            <div class="layout__item 1/3">
                <img class="rounded box--sized ml"
                     lazy-load-src="{{ imgPath + match.char.imgPath }}"
                     ng-src="assets/images/placeholder.png" />
                <!-- track by $index is to avoid Angulars "Duplicate Key in Repeater" error-->
                <i class=""
                    ng-repeat="stock in numOfStocks(match.stocksLeft) track by $index">
                    <!-- {{ match.stocksLeft }} -->
                </i>
            </div><!--

            --><div class="layout__item 2/3 layout--flush layout--middle align-center">

                <img class="rounded  box--sized -mr-"
                     lazy-load-src="{{ imgPath + match.opponentChar.imgPath }}"
                     ng-src="assets/images/placeholder.png" /><!--

                --><a class=""
                    ng-href="/#/profile/{{ match.opponent.phoneNumber }}">
                    <img class="rounded box--sized"
                         lazy-load-src="{{ match.opponent.pictureUrl  }}"
                         ng-src="assets/images/placeholder.png" />
                </a>
            </div>
        </li>
    </ol>
</section>