@charset "UTF-8";
/*------------------------------------*\
    #SMASHAPP
\*------------------------------------*/
/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 *
 *
 * Taken from http://cssguidelin.es/
 *
 */
/*TODO
 - figure buggy scroll rendering out:
       http://cantina.co/thought_leadership/ios-5-native-scrolling-grins-and-gothcas/
 - add selection ui to user characters -> add radio buttons
 - style stocks
*/
/**
 * #SETTINGS - Global variables, site-wide settings, config switches, etc.
 */
/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
/* Typography */
/* Positioning */
/* line 16, ../sass/_settings.global.scss */
ul {
  margin: 0;
}

/**
 * #TOOLS - Site-wide mixins and functions.
 */
/**
 * #GENERIC - Low-specificity, far-reaching rulesets (e.g. resets).
 */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 32, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 52, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 65, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 75, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 87, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 107, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 115, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 124, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 133, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 142, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 151, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 159, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 167, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
sup {
  top: -0.5em;
}

/* line 171, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 182, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 190, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 201, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 209, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 219, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 227, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 250, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 264, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 275, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 288, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 300, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 309, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 320, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 332, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 344, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 355, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 368, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 377, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 388, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 397, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 406, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 417, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 422, ../sass/bower_components/inuit-normalize/_generic.normalize.scss */
td,
th {
  padding: 0;
}

/*------------------------------------*\
    #RESET
\*------------------------------------*/
/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
/* line 9, ../sass/bower_components/inuit-reset/_generic.reset.scss */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
/* line 28, ../sass/bower_components/inuit-reset/_generic.reset.scss */
abbr[title],
dfn[title] {
  cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
/* line 40, ../sass/bower_components/inuit-reset/_generic.reset.scss */
u,
ins {
  text-decoration: none;
}

/**
 * Apply faux underlines to inserted text via `border-bottom`.
 */
/* line 52, ../sass/bower_components/inuit-reset/_generic.reset.scss */
ins {
  border-bottom: 1px solid;
}

/*------------------------------------*\
    #BOX-SIZING
\*------------------------------------*/
/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
/* line 11, ../sass/bower_components/inuit-box-sizing/_generic.box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/bower_components/inuit-box-sizing/_generic.box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/**
 * #BASE - Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
 */
/*------------------------------------*\
    #PAGE
\*------------------------------------*/
/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
/* line 19, ../sass/bower_components/inuit-page/_base.page.scss */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [1] */
  background-color: #fff;
  color: #333;
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
  -webkit-text-size-adjust: 100%;
  /* [4] */
  -ms-text-size-adjust: 100%;
  /* [4] */
  -moz-osx-font-smoothing: grayscale;
  /* [5] */
  -webkit-font-smoothing: antialiased;
  /* [5] */
}

/*------------------------------------*\
    #IMAGES
\*------------------------------------*/
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
/* line 12, ../sass/bower_components/inuit-images/_base.images.scss */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */
}

/**
 * 1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector
 *    to remove the effects.
 * 2. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
/* line 26, ../sass/bower_components/inuit-images/_base.images.scss */
.gm-style img,
img[width],
img[height] {
  /* [2] */
  max-width: none;
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
/**
 * Headings 1–6, with corresponding Greek-alphabet abstract classes for double-
 * stranded heading hierarchy: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 */
/* line 18, ../sass/bower_components/inuit-headings/_base.headings.scss */
h1,
.alpha {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333;
}

/* line 24, ../sass/bower_components/inuit-headings/_base.headings.scss */
h2,
.beta {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6;
}

/* line 30, ../sass/bower_components/inuit-headings/_base.headings.scss */
h3,
.gamma {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
}

/* line 36, ../sass/bower_components/inuit-headings/_base.headings.scss */
h4,
.delta {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
}

/* line 42, ../sass/bower_components/inuit-headings/_base.headings.scss */
h5,
.epsilon {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 48, ../sass/bower_components/inuit-headings/_base.headings.scss */
h6,
.zeta {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
}

/**
 * For styling text with no concern of rhythm
 */
/* line 11, ../sass/_base.type.scss */
[class~="text-size*.5"] {
  font-size: .5rem;
}

/* line 14, ../sass/_base.type.scss */
[class~="text-size*1.5"] {
  font-size: 1.5rem;
}

/* line 17, ../sass/_base.type.scss */
[class~="text-size*2"] {
  font-size: 2rem;
}

/* line 20, ../sass/_base.type.scss */
[class~="text-size*2.5"] {
  font-size: 2.5rem;
}

/* line 23, ../sass/_base.type.scss */
[class~="text-size*3"] {
  font-size: 3rem;
}

/* line 90, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 91, ../sass/main.scss */
img {
  -webkit-transition: 2s ease-in all;
  transition: 2s ease-in all;
}

/* line 96, ../sass/main.scss */
* {
  -webkit-tap-highlight-color: transparent;
}

/**
 * #OBJECTS - Objects, abstractions, and design patterns (e.g. .media {}).
 */
/*------------------------------------*\
    #BOX
\*------------------------------------*/
/**
 * The box object simply boxes off content.
 */
/**
 * 1. So we can apply the `.box` class to naturally-inline elements.
 */
/* line 31, ../sass/bower_components/inuit-box/_objects.box.scss */
.box {
  display: block;
  /* [1] */
  padding: 24px;
}
/* line 37, ../sass/bower_components/inuit-box/_objects.box.scss */
.box > :last-child {
  margin-bottom: 0;
}

/**
 * Flush (i.e. no padding) box.
 */
/* line 53, ../sass/bower_components/inuit-box/_objects.box.scss */
.box--flush {
  padding: 0;
}

/**
 * Tiny box.
 */
/* line 66, ../sass/bower_components/inuit-box/_objects.box.scss */
.box--tiny {
  padding: 6px;
}

/**
 * Quick, inline extensions of the inuitcss box object.
 */
/* line 114, ../sass/main.scss */
.box--sized--tiny {
  width: 50px;
  height: 50px;
}

/* line 118, ../sass/main.scss */
.box--sized--small {
  width: 75px;
  height: 75px;
}

/* line 122, ../sass/main.scss */
.box--sized {
  width: 100px;
  height: 100px;
}

/* line 126, ../sass/main.scss */
.box--sized--large {
  width: 125px;
  height: 125px;
}

/* line 130, ../sass/main.scss */
.box--sized--huge {
  width: 150px;
  height: 150px;
}

/**
 * Remember:
 * http://css-tricks.com/fighting-the-space-between-inline-block-elements/
 */
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 * The inuitcss layout system uses `box-sizing: border-box;` and
 * `display: inline-block;` to create an extremely powerful, flexible
 * alternative to the traditional grid system. Combine the layout items with
 * the widths found in `trumps.widths`.
 */
/**
 * Begin a layout group.
 */
/* line 49, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -24px;
}

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
/* line 64, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout__item {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
}

/**
 * Layouts with no gutters.
 */
/* line 169, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout--flush {
  margin-left: 0;
}
/* line 173, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout--flush > .layout__item {
  padding-left: 0;
}

/**
 * Reversed rendered order of layout items, e.g. items 1, 2, 3, 4 in your
 * markup will display in order 4, 3, 2, 1 on your page.
 */
/* line 193, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout--rev {
  direction: rtl;
  text-align: left;
}
/* line 198, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout--rev > .layout__item {
  direction: ltr;
  text-align: left;
}

/**
 * Align layout items to the vertical centers of each other.
 */
/* line 221, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout--middle > .layout__item {
  vertical-align: middle;
}

/**
 * Align layout items to the vertical bottoms of each other.
 */
/* line 239, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout--bottom > .layout__item {
  vertical-align: bottom;
}

/**
 * Make the layout items fill up from the right hand side.
 */
/* line 258, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout--right {
  text-align: right;
}
/* line 262, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout--right > .layout__item {
  text-align: left;
}

/**
 * Make the layout items fill up from the center outward.
 */
/* line 277, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout--center {
  text-align: center;
}
/* line 281, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout--center > .layout__item {
  text-align: left;
}

/**
 * Cause layout items to take up a non-explicit amount of width.
 */
/* line 302, ../sass/bower_components/inuit-layout/_objects.layout.scss */
.layout--auto > .layout__item {
  width: auto;
}

/* line 148, ../sass/main.scss */
.app-container {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  -webkit-overflow-scrolling: touch;
}

/* line 155, ../sass/main.scss */
.page-head {
  padding: 10px 0;
  background-color: #15b1ff;
  color: white;
}

/* line 160, ../sass/main.scss */
.reel {
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 400px;
  white-space: nowrap;
  padding: 10px 0;
}

/* line 167, ../sass/main.scss */
.reel > * {
  display: inline-block;
}

/* line 170, ../sass/main.scss */
.bg-orange {
  background-color: #ff9c22 !important;
}

/**
 * #COMPONENTS - Discrete, complete chunks of UI (e.g. .carousel {}).
 */
/*------------------------------------*\
    #FLIPPER
\*------------------------------------*/
/**
 * Component CSS for front and back content to be "flipped".
 * 
 *
 * USAGE -> HTML must look like this:
 * <div class="flip-container" >
 *  <div class="flipper">
 *    <div class="front">
 *      <!-- front content -->
 *    </div>
 *    <div class="back">
 *      <!-- back content -->
 *    </div>
 *  </div>
 * </div>
 *
 * Taken From: http://davidwalsh.name/css-flip
 */
/* entire container, keeps perspective */
/* line 32, ../sass/_components.flipper.scss */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  cursor: pointer;
}

/* line 48, ../sass/_components.flipper.scss */
.flip-container.is-flipped .flip-container__flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* flip speed goes here */
/* line 66, ../sass/_components.flipper.scss */
.flip-container__flipper {
  -webkit-transition: 0.6s;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
/* line 81, ../sass/_components.flipper.scss */
.flip-container__front,
.flip-container__back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
/* line 97, ../sass/_components.flipper.scss */
.flip-container__front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}

/* back, initially hidden pane */
/* line 106, ../sass/_components.flipper.scss */
.flip-container__back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*------------------------------------*\
    #LIST-ITEMS
\*------------------------------------*/
/**
 * Styling for the rankings list.
 */
/* line 9, ../sass/_components.list-items.scss */
.list {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  list-style: none;
  max-height: 400px;
  overflow: scroll;
}

/* line 16, ../sass/_components.list-items.scss */
.list--rank .list__item--rank:nth-child(1) {
  padding: 30px 0;
  border-bottom: solid 6px #2fbaff;
  background-color: #15b1ff;
}

/* line 23, ../sass/_components.list-items.scss */
.list__item--rank:nth-child(odd) {
  background-color: #2fbaff;
}

/* line 26, ../sass/_components.list-items.scss */
.list__item--rank:nth-child(even) {
  background-color: #0077b2;
}

/* line 29, ../sass/_components.list-items.scss */
.list__token {
  color: white;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
}

/* line 39, ../sass/_components.list-items.scss */
.list__item {
  background-color: #15b1ff;
  border-bottom: solid 1px white;
}

/* line 44, ../sass/_components.list-items.scss */
.list__item--highlight {
  background-color: #ff9c22;
}

/**
 * #TRUMPS - High-specificity, very explicit selectors. Overrides and helper classes.
 */
/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
/* line 13, ../sass/bower_components/inuit-clearfix/_trumps.clearfix.scss */
.clearfix:after,
.box:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/
/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.2/3`) or a spoken-
 * word format (e.g. `two-thirds`). Toggle formats by overriding the
 * `$inuit-use-fractions` variable defined below.
 */
/**
 * Whole.
 */
/* line 21, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="1/1"] {
  width: 100% !important;
}

/**
 * Halves.
 */
/* line 26, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="1/2"],
[class~="2/4"],
[class~="3/6"],
[class~="4/8"],
[class~="5/10"],
[class~="6/12"] {
  width: 50% !important;
}

/**
 * Thirds.
 */
/* line 36, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="1/3"],
[class~="2/6"],
[class~="3/9"],
[class~="4/12"] {
  width: 33.3333333% !important;
}

/* line 40, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="2/3"],
[class~="4/6"],
[class~="6/9"],
[class~="8/12"] {
  width: 66.6666666% !important;
}

/**
 * Quarters.
 */
/* line 48, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="1/4"],
[class~="2/8"],
[class~="3/12"] {
  width: 25% !important;
}

/* line 51, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="3/4"],
[class~="6/8"],
[class~="9/12"] {
  width: 75% !important;
}

/**
 * Fifths.
 */
/* line 58, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="1/5"],
[class~="2/10"] {
  width: 20% !important;
}

/* line 60, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="2/5"],
[class~="4/10"] {
  width: 40% !important;
}

/* line 62, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="3/5"],
[class~="6/10"] {
  width: 60% !important;
}

/* line 64, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="4/5"],
[class~="8/10"] {
  width: 80% !important;
}

/**
 * Sixths.
 */
/* line 70, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="1/6"],
[class~="2/12"] {
  width: 16.6666666% !important;
}

/* line 72, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="5/6"],
[class~="10/12"] {
  width: 83.3333333% !important;
}

/**
 * Eighths.
 */
/* line 77, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="1/8"] {
  width: 12.5% !important;
}

/* line 78, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="3/8"] {
  width: 37.5% !important;
}

/* line 79, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="5/8"] {
  width: 62.5% !important;
}

/* line 80, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="7/8"] {
  width: 87.5% !important;
}

/**
 * Ninths.
 */
/* line 85, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="1/9"] {
  width: 11.1111111% !important;
}

/* line 86, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="2/9"] {
  width: 22.2222222% !important;
}

/* line 87, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="4/9"] {
  width: 44.4444444% !important;
}

/* line 88, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="5/9"] {
  width: 55.5555555% !important;
}

/* line 89, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="7/9"] {
  width: 77.7777777% !important;
}

/* line 90, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="8/9"] {
  width: 88.8888888% !important;
}

/**
 * Tenths.
 */
/* line 95, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="1/10"] {
  width: 10% !important;
}

/* line 96, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="3/10"] {
  width: 30% !important;
}

/* line 97, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="7/10"] {
  width: 70% !important;
}

/* line 98, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="9/10"] {
  width: 90% !important;
}

/**
 * Twelfths.
 */
/* line 103, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="1/12"] {
  width: 8.3333333% !important;
}

/* line 104, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="5/12"] {
  width: 41.6666666% !important;
}

/* line 105, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="7/12"] {
  width: 58.3333333% !important;
}

/* line 106, ../sass/bower_components/inuit-widths/_trumps.widths.scss */
[class~="11/12"] {
  width: 91.6666666% !important;
}

/*------------------------------------*\
    #SPACING
\*------------------------------------*/
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
 * Margin helper classes.
 *
 * Add margins.
 */
/* line 52, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.m {
  margin: 24px !important;
}

/* line 53, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mt {
  margin-top: 24px !important;
}

/* line 54, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mr {
  margin-right: 24px !important;
}

/* line 55, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mb {
  margin-bottom: 24px !important;
}

/* line 56, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.ml {
  margin-left: 24px !important;
}

/* line 57, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mh {
  margin-right: 24px !important;
  margin-left: 24px !important;
}

/* line 58, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mv {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

/**
 * Add tiny margins.
 */
/* line 69, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.m-- {
  margin: 6px !important;
}

/* line 70, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mt-- {
  margin-top: 6px !important;
}

/* line 71, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mr-- {
  margin-right: 6px !important;
}

/* line 72, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mb-- {
  margin-bottom: 6px !important;
}

/* line 73, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.ml-- {
  margin-left: 6px !important;
}

/* line 74, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mh-- {
  margin-right: 6px !important;
  margin-left: 6px !important;
}

/* line 75, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mv-- {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

/**
 * Add small margins.
 */
/* line 86, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.m- {
  margin: 12px !important;
}

/* line 87, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mt- {
  margin-top: 12px !important;
}

/* line 88, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mr- {
  margin-right: 12px !important;
}

/* line 89, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mb- {
  margin-bottom: 12px !important;
}

/* line 90, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.ml- {
  margin-left: 12px !important;
}

/* line 91, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mh- {
  margin-right: 12px !important;
  margin-left: 12px !important;
}

/* line 92, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mv- {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

/**
 * Add large margins.
 */
/* line 103, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.m\+ {
  margin: 48px !important;
}

/* line 104, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mt\+ {
  margin-top: 48px !important;
}

/* line 105, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mr\+ {
  margin-right: 48px !important;
}

/* line 106, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mb\+ {
  margin-bottom: 48px !important;
}

/* line 107, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.ml\+ {
  margin-left: 48px !important;
}

/* line 108, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mh\+ {
  margin-right: 48px !important;
  margin-left: 48px !important;
}

/* line 109, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mv\+ {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

/**
 * Add huge margins.
 */
/* line 120, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.m\+\+ {
  margin: 96px !important;
}

/* line 121, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mt\+\+ {
  margin-top: 96px !important;
}

/* line 122, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mr\+\+ {
  margin-right: 96px !important;
}

/* line 123, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mb\+\+ {
  margin-bottom: 96px !important;
}

/* line 124, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.ml\+\+ {
  margin-left: 96px !important;
}

/* line 125, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mh\+\+ {
  margin-right: 96px !important;
  margin-left: 96px !important;
}

/* line 126, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mv\+\+ {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}

/**
 * Remove margins.
 */
/* line 137, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.m0 {
  margin: 0 !important;
}

/* line 138, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mt0 {
  margin-top: 0 !important;
}

/* line 139, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mr0 {
  margin-right: 0 !important;
}

/* line 140, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mb0 {
  margin-bottom: 0 !important;
}

/* line 141, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.ml0 {
  margin-left: 0 !important;
}

/* line 142, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mh0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* line 143, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.mv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/**
 * Negative margins.
 */
/* line 154, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-m {
  margin: -24px !important;
}

/* line 155, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mt {
  margin-top: -24px !important;
}

/* line 156, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mr {
  margin-right: -24px !important;
}

/* line 157, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mb {
  margin-bottom: -24px !important;
}

/* line 158, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-ml {
  margin-left: -24px !important;
}

/* line 159, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mh {
  margin-right: -24px !important;
  margin-left: -24px !important;
}

/* line 160, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mv {
  margin-top: -24px !important;
  margin-bottom: -24px !important;
}

/**
 * Tiny negative margins.
 */
/* line 171, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-m-- {
  margin: -6px !important;
}

/* line 172, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mt-- {
  margin-top: -6px !important;
}

/* line 173, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mr-- {
  margin-right: -6px !important;
}

/* line 174, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mb-- {
  margin-bottom: -6px !important;
}

/* line 175, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-ml-- {
  margin-left: -6px !important;
}

/* line 176, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mh-- {
  margin-right: -6px !important;
  margin-left: -6px !important;
}

/* line 177, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mv-- {
  margin-top: -6px !important;
  margin-bottom: -6px !important;
}

/**
 * Small negative margins.
 */
/* line 188, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-m- {
  margin: -12px !important;
}

/* line 189, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mt- {
  margin-top: -12px !important;
}

/* line 190, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mr- {
  margin-right: -12px !important;
}

/* line 191, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mb- {
  margin-bottom: -12px !important;
}

/* line 192, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-ml- {
  margin-left: -12px !important;
}

/* line 193, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mh- {
  margin-right: -12px !important;
  margin-left: -12px !important;
}

/* line 194, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mv- {
  margin-top: -12px !important;
  margin-bottom: -12px !important;
}

/**
 * Large negative margins.
 */
/* line 205, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-m\+ {
  margin: -48px !important;
}

/* line 206, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mt\+ {
  margin-top: -48px !important;
}

/* line 207, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mr\+ {
  margin-right: -48px !important;
}

/* line 208, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mb\+ {
  margin-bottom: -48px !important;
}

/* line 209, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-ml\+ {
  margin-left: -48px !important;
}

/* line 210, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mh\+ {
  margin-right: -48px !important;
  margin-left: -48px !important;
}

/* line 211, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mv\+ {
  margin-top: -48px !important;
  margin-bottom: -48px !important;
}

/**
 * Huge negative margins.
 */
/* line 222, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-m\+\+ {
  margin: -96px !important;
}

/* line 223, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mt\+\+ {
  margin-top: -96px !important;
}

/* line 224, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mr\+\+ {
  margin-right: -96px !important;
}

/* line 225, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mb\+\+ {
  margin-bottom: -96px !important;
}

/* line 226, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-ml\+\+ {
  margin-left: -96px !important;
}

/* line 227, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mh\+\+ {
  margin-right: -96px !important;
  margin-left: -96px !important;
}

/* line 228, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.-mv\+\+ {
  margin-top: -96px !important;
  margin-bottom: -96px !important;
}

/**
 * Padding helper classes.
 *
 * Add paddings.
 */
/* line 244, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.p {
  padding: 24px !important;
}

/* line 245, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pt {
  padding-top: 24px !important;
}

/* line 246, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pr {
  padding-right: 24px !important;
}

/* line 247, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pb {
  padding-bottom: 24px !important;
}

/* line 248, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pl {
  padding-left: 24px !important;
}

/* line 249, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.ph {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

/* line 250, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pv {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

/**
 * Add tiny paddings.
 */
/* line 261, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.p-- {
  padding: 6px !important;
}

/* line 262, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pt-- {
  padding-top: 6px !important;
}

/* line 263, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pr-- {
  padding-right: 6px !important;
}

/* line 264, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pb-- {
  padding-bottom: 6px !important;
}

/* line 265, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pl-- {
  padding-left: 6px !important;
}

/* line 266, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.ph-- {
  padding-right: 6px !important;
  padding-left: 6px !important;
}

/* line 267, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pv-- {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

/**
 * Add small paddings.
 */
/* line 278, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.p- {
  padding: 12px !important;
}

/* line 279, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pt- {
  padding-top: 12px !important;
}

/* line 280, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pr- {
  padding-right: 12px !important;
}

/* line 281, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pb- {
  padding-bottom: 12px !important;
}

/* line 282, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pl- {
  padding-left: 12px !important;
}

/* line 283, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.ph- {
  padding-right: 12px !important;
  padding-left: 12px !important;
}

/* line 284, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pv- {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

/**
 * Add large paddings.
 */
/* line 295, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.p\+ {
  padding: 48px !important;
}

/* line 296, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pt\+ {
  padding-top: 48px !important;
}

/* line 297, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pr\+ {
  padding-right: 48px !important;
}

/* line 298, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pb\+ {
  padding-bottom: 48px !important;
}

/* line 299, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pl\+ {
  padding-left: 48px !important;
}

/* line 300, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.ph\+ {
  padding-right: 48px !important;
  padding-left: 48px !important;
}

/* line 301, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pv\+ {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

/**
 * Add huge paddings.
 */
/* line 312, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.p\+\+ {
  padding: 96px !important;
}

/* line 313, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pt\+\+ {
  padding-top: 96px !important;
}

/* line 314, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pr\+\+ {
  padding-right: 96px !important;
}

/* line 315, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pb\+\+ {
  padding-bottom: 96px !important;
}

/* line 316, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pl\+\+ {
  padding-left: 96px !important;
}

/* line 317, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.ph\+\+ {
  padding-right: 96px !important;
  padding-left: 96px !important;
}

/* line 318, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pv\+\+ {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}

/**
 * Remove paddings.
 */
/* line 329, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.p0 {
  padding: 0 !important;
}

/* line 330, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pt0 {
  padding-top: 0 !important;
}

/* line 331, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pr0 {
  padding-right: 0 !important;
}

/* line 332, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pb0 {
  padding-bottom: 0 !important;
}

/* line 333, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pl0 {
  padding-left: 0 !important;
}

/* line 334, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.ph0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* line 335, ../sass/bower_components/inuit-spacing/_trumps.spacing.scss */
.pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/*------------------------------------*\
    #CENTERING
\*------------------------------------*/
/* line 6, ../sass/_trumps.centering.scss */
.c-h {
  margin: 0 auto;
}

/* line 10, ../sass/_trumps.centering.scss */
img.c-h {
  margin: 0 auto;
  display: block;
}

/**
 * Taken From:
 * http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
 */
/* line 19, ../sass/_trumps.centering.scss */
.c-v {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/**
 * Taken From:
 * http://css-tricks.com/centering-in-the-unknown/
 */
/* line 31, ../sass/_trumps.centering.scss */
.c-container {
  display: table;
  height: 100%;
}

/* line 36, ../sass/_trumps.centering.scss */
.c-container__content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/**
 * Taken From:
 * http://www.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/
 */
/* line 46, ../sass/_trumps.centering.scss */
.c-absolute {
  position: absolute;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 217, ../sass/main.scss */
.align-center {
  text-align: center;
}

/* line 220, ../sass/main.scss */
.rounded {
  border-radius: 50%;
}

/* line 223, ../sass/main.scss */
.dot {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  display: block;
}
